.my-20 {
    margin-top: 12px;
    margin-bottom: 12px;
} 

.p-y-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.c-red {
    color: red;
}

.c-green {
    color: green;
}