/* Margin */

$mx-5: 5px;

$mx-8: 8px;

$mx-12: 12px;

$my-25: 25px;

$my-50: 50px;

$mt-50: 50px;

/* Padding */

$p-30: 30px;

/* Color*/

$white: white;

$azurre: rgba(2,130,249,255);

$footer-brown: rgba(48,48,48,255);

/* Text-align */

$text-center: center;

/* Font-size */
$font-size-ultraSmall: 0.8em;

$font-size-smallSmall: 1.1em;

$font-size-small: 1.3em;

$font-size-small-middle: 1.6em;

$font-size-middle: 2em;

$font-size-large: 3em;

/* Text-trasform */
$text-uppercase: uppercase;